.header {
	text-align: center;
	background-color: rgb(187, 187, 187);
	padding: 10px 0 10px 0;
}

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.main {
	text-align: center;
	background-color: rgb(244, 233, 186);
}

.main_inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.item1 {
	background-color: rgb(233, 209, 111);
	padding: 15px;
	margin: 10px;
}

.item3 {
	background-color: rgb(233, 209, 111);
	padding: 15px;
	margin: 10px;
}

.aside {
	background-color: rgb(155, 243, 111);
	text-align: center;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: rgb(187, 187, 187);
}

.footer_item {
	background-color: rgb(237, 237, 237);
	text-align: center;
	margin: 15px;
	padding: 15px;
}



@media screen and (max-width: 399px) {
	.footer{
		display: none;
	}

	.header {
		height: 30vh;
	}

	.main{
		height: 30vh;
	}

	.main_inner {
		height: 15vh;
	}

	.aside {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.footer{
		display: none;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 
		          "header " 
				  "main"
				  "aside";
	}

	.main_inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

}

